<div>
    <h1> Estamos quase lรก <%= image_tag 'https://cdn3.iconfinder.com/data/icons/lightly-icons/30/652815-happy-grin-240.png', size: "30" %> </h1>
    <h1> Nos informe agora os seguintes itens a seu respeito: </h1>
</div>


<%= render 'form'%>


