<body class="container welcome">
    <div class="text_welcome">
        <div  class="bg-image d-flex justify-content-left align-items-left">
            <h1 class="text-black">Encontre um parceiro para treinar Futevôlei com você.</h1>
        </div>
        <div>
            <%= link_to 'Cadastre-se aqui', new_player_path, {:style=>'color: white;', :class => "btn btn-dark"}%>
        </div>     

    </div>
</body>



   





